/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}  */

.link-text:hover {
	color: grey;
}

/* ===========================Home===================================== */
.homepageBackgroundImg {
	width: 100vw;
}

/* ===========================Nav===================================== */

#appname {
	margin: auto;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navToggle {
	margin-right: 3vw;
	background-color: white;
}
.navToggle:hover {
	background-color: rgb(172, 192, 230);
}
.navbar {
	height: 10vh;
}

#responsive-navbar-nav {
	background-color: rgb(179, 226, 222);
	padding-left: 8px;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 15vw;
	margin-left: 80vw;
}

#dropdown-customer-button {
	background-image: url(./components/images/usericon.png);
	background-size: 40px;
	background-repeat: no-repeat;
	border-color: white;
	width: 44px;
	background-color: white;
}

#dropdown-customer-button:hover {
	background-color: rgb(197, 182, 230);
}

.profile-dropdown {
	width: 8vw;
	padding: 2px;
}
.ddtext {
	padding: 1rem;
	text-align: left;
}
.menu {
	margin: 0vw;
	background-color: rgb(240, 192, 184);
	padding: 0px;
}
.hi {
	margin-right: 10px;
	margin-top: 10px;
}

/* ===========================Artworks===================================== */
.artworkImg {
	height: 200px;
}

/* ===========================ArtworkID===================================== */
.artworkid {
	max-height: 20rem;
	max-width: 100%;
}

/* ===========================Students===================================== */
.studentAvatarImg {
	height: 200px;
}

/* ===========================StudentsID===================================== */
.studentIDavatar {
	max-height: 20rem;
	max-width: 100%;
}

/* ===========================ArtworkUpdateform===================================== */
.preview-image {
	max-height: 7rem;
	max-width: 100%;
}
/* ===========================Student Profile===================================== */
.profileIDavatar {
	height: 200px;
}

/* ===========================Loading===================================== */
.lds-spinner {
	color: official;
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.lds-spinner div {
	transform-origin: 40px 40px;
	animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
	content: ' ';
	display: block;
	position: absolute;
	top: 3px;
	left: 37px;
	width: 6px;
	height: 18px;
	border-radius: 20%;
	background: #fff;
}
.lds-spinner div:nth-child(1) {
	transform: rotate(0deg);
	animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
	transform: rotate(30deg);
	animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
	transform: rotate(60deg);
	animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
	transform: rotate(90deg);
	animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
	transform: rotate(120deg);
	animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
	transform: rotate(150deg);
	animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
	transform: rotate(180deg);
	animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
	transform: rotate(210deg);
	animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
	transform: rotate(240deg);
	animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
	transform: rotate(270deg);
	animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
	transform: rotate(300deg);
	animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
	transform: rotate(330deg);
	animation-delay: 0s;
}
@keyframes lds-spinner {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
