/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}  */

.link-text:hover {
	color: grey;
}

/* ===========================Home===================================== */
.homepageBackgroundImg {
	width: 100vw;
}

/* ===========================Nav===================================== */

#appname {
	margin: auto;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navToggle {
	margin-right: 3vw;
	background-color: white;
}
.navToggle:hover {
	background-color: rgb(172, 192, 230);
}
.navbar {
	height: 10vh;
}

#responsive-navbar-nav {
	background-color: rgb(179, 226, 222);
	padding-left: 8px;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 15vw;
	margin-left: 80vw;
}

#dropdown-customer-button {
	background-image: url(./components/images/usericon.png);
	background-size: 40px;
	background-repeat: no-repeat;
	border-color: white;
	width: 44px;
	background-color: white;
}

#dropdown-customer-button:hover {
	background-color: rgb(197, 182, 230);
}

.profile-dropdown {
	width: 8vw;
	padding: 2px;
}
.ddtext {
	padding: 1rem;
	text-align: left;
}
.menu {
	margin: 0vw;
	background-color: rgb(240, 192, 184);
	padding: 0px;
}
.hi {
	margin-right: 10px;
	margin-top: 10px;
}

/* ===========================Artworks===================================== */
.artworkImg {
	height: 200px;
}

/* ===========================ArtworkID===================================== */
.artworkid {
	max-height: 20rem;
	max-width: 100%;
}

/* ===========================Students===================================== */
.studentAvatarImg {
	height: 200px;
}

/* ===========================StudentsID===================================== */
.studentIDavatar {
	max-height: 20rem;
	max-width: 100%;
}

/* ===========================ArtworkUpdateform===================================== */
.preview-image {
	max-height: 7rem;
	max-width: 100%;
}
/* ===========================Student Profile===================================== */
.profileIDavatar {
	height: 200px;
}
