/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}  */

/* ===========================Nav===================================== */

.nav {
	text-align: center;
	width: 90vw;
	margin: 0 auto;
}

.navlinkdiv {
	display: flex;
	justify-content: space-between;
}

/* ===========================Artworks===================================== */
.artworkImg {
	height: 200px;
}

/* ===========================ArtworkID===================================== */
.artworkid {
	max-height: 20rem;
	max-width: 100%;
}

/* ===========================Students===================================== */
.studentAvatarImg {
	height: 200px;
}

/* ===========================StudentsID===================================== */
.studentIDavatar {
	max-height: 20rem;
	max-width: 100%;
}

/* ===========================ArtworkUpdateform===================================== */
.preview-image {
	max-height: 7rem;
	max-width: 100%;
}
